#uploader {
  position: relative;
  overflow: hidden;
  border: 1px dashed $primary;
  border-radius: $spacer;
  min-height: 432px;
  max-width: 984px;
  margin: 0 auto;
  display: flex;

  @include media-breakpoint-down('sm') {
    border: none;
    min-height: auto;
  }

  form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media-breakpoint-up('sm') {
      padding-bottom: $spacer * 3;
    }

    .placeholder {
      margin-bottom: $spacer * 2;
      font-size: $font-size * 1.5;

      @include media-breakpoint-down('sm') {
        padding-left: $spacer * 2;
        padding-right: $spacer * 2;
        margin-bottom: $spacer * 3;
        font-size: $font-size * 1.125;

        br {
          display: none;
        }
      }
    }

    label {
      display: block;
      position: relative;

      input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        &:hover {
          ~ .btn-primary {
            color: $black;
            text-decoration: none;
            background-color: #FFE990;
          }
        }
      }
    }
  }

  .success {
    flex: 1;
    display: none;
  }

  .progress {
    flex: 1;
    display: none;
  }

  &.processing {
    .progress {
      display: flex;
    }

    form {
      display: none;
    }
  }

  &.finished {
    border-color: transparent;

    .success {
      display: flex;
    }

    form {
      display: none;
    }
  }

  &.hover {
    background-color: rgba($primary, .1);
  }
}

.progress {
  align-items: center;
  justify-content: center;

  .bar {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;

    @include media-breakpoint-down('sm') {
      width: auto;
      top: $spacer * 2.5;
      left: $spacer;
      right: $spacer;
      height: 14px;
      border-radius: $spacer;
      background-color: $black;
      padding: 2px;
      overflow: hidden;
    }

    #progress {
      flex: 0 0 auto;
      background-color: rgba($primary, .1);

      @include media-breakpoint-down('sm') {
        background-color: $primary;
        border-radius: 5px;
      }
    }
  }

  .summary {
    position: relative;
    z-index: 2;

    .btn {
      margin-top: $spacer * 2.5;
    }

    #time {
      color: $gray-600;
      margin-bottom: $spacer * .25;
      font-size: $font-size * 1.5;
      word-break: break-word;

      @include media-breakpoint-down('sm') {
        margin-bottom: $spacer * 3;
      }
    }

    #filename {
      margin-bottom: $spacer * .25;
      font-size: $font-size * 1.5;
      font-weight: $font-bold;
      word-break: break-word;
    }

    #filesize {
      font-size: $font-size * 1.5;
      word-break: break-word;
    }
  }
}

.success {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 632px;

    @include media-breakpoint-down('sm') {
      display: none;
    }

    .form-label {
      flex: 0 0 100%;
    }

    .form-control {
      flex: 1;
      margin-right: $spacer * .5;
    }

    .btn {
      flex: 0 0 auto;

      &.icon-check {
        &:before {
          color: $green;
        }
      }
    }

    .form-control {
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'><path d='M10 13C10.4295 13.5741 10.9774 14.0492 11.6066 14.3929C12.2357 14.7367 12.9315 14.9411 13.6467 14.9923C14.3618 15.0436 15.0796 14.9404 15.7513 14.6898C16.4231 14.4392 17.0331 14.0471 17.54 13.54L20.54 10.54C21.4508 9.59699 21.9548 8.33398 21.9434 7.02299C21.932 5.71201 21.4061 4.45795 20.4791 3.53091C19.5521 2.60387 18.298 2.07802 16.987 2.06663C15.676 2.05524 14.413 2.55921 13.47 3.47L11.75 5.18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M14 11C13.5705 10.4259 13.0226 9.95082 12.3934 9.60706C11.7642 9.2633 11.0684 9.05888 10.3533 9.00767C9.63816 8.95645 8.92037 9.05963 8.24861 9.31022C7.57685 9.5608 6.96684 9.95293 6.45996 10.46L3.45996 13.46C2.54917 14.403 2.04519 15.666 2.05659 16.977C2.06798 18.288 2.59382 19.5421 3.52086 20.4691C4.4479 21.3961 5.70197 21.922 7.01295 21.9334C8.32393 21.9448 9.58694 21.4408 10.53 20.53L12.24 18.82' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>"));
      background-size: ($font-size * 1.5) ($font-size * 1.5);
      background-repeat: no-repeat;
      background-position: left $spacer center;
      padding-left: ($font-size * 1.5) + $spacer + ($spacer * .75);
    }
  }

  .info {
    display: flex;
    justify-content: center;
    margin-top: ($spacer * 4);

    @include media-breakpoint-down('sm') {
      display: block;
      margin-top: 0;
    }

    .qr {
      width: 152px;
      height: 152px;
      border-radius: $spacer;
      background-color: $white;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down('sm') {
        margin: 0 auto;
      }

      canvas {
        width: 120px;
        height: 120px;
      }
    }

    .data {
      margin-left: $spacer * 2;
      text-align: left;

      @include media-breakpoint-down('sm') {
        margin-left: 0;
        text-align: center;
        margin-top: $spacer;
      }

      #final-filename {
        margin-bottom: $spacer * .25;
        font-size: $font-size * 1.5;
        font-weight: $font-bold;
        word-break: break-word;
      }

      #final-filesize {
        font-size: $font-size * 1.5;
        word-break: break-word;
      }

      #qr-share {
        margin-top: $spacer * 2;

        @include media-breakpoint-up('sm') {
          display: none;
        }
      }
    }
  }
}
