<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN4P2WDSCR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GN4P2WDSCR');
    </script>

</head>
<body>
<h1>Hello QR-share</h1>

<input type="file">
<div id="progress"></div>
<div id="download-url"></div>
<div id="qr-code"></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>